<div>
  <strong><%= @other.full_name %></strong>
  <%= link_to 'View Profile', @other %>
</div>

<div>
  Conversation with <%= @other.full_name %>
  <div>
    <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
      <%= f.text_area :content, placeholder: "Add a personal message" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <br>
      <%= f.submit "Send Message" %>
    <% end %>
  </div>
</div>

<div id="chat">
  <%= render @messages, locals: { conversation: @conversation } %>
</div>

<%= subscribe_to conversation_messages_path(@conversation) %>