<%= @user.full_name %>
<%= @user.description %>

<div>
  <h4>Listing (<%= @rooms.length %>)</h4>
</div>

<div>
  <% @rooms.each do |room| %>
    <%= image_tag room.photos[0].image.url(:medium) %>
    <%= link_to room.listing_name, room_path(room) %>
  <% end %>
</div>