<ul>
    <li><%= link_to 'Your listing', rooms_path %></li>
    <li><%= link_to 'Your reservation', rooms_path %></li>
</ul>

<div>
    
    <% @rooms.each do |room| %>
        <%= image_tag room.photos[0].image.url(:thumb) if room.photos.length > 0 %>
        <%= room.listing_name %>
        <%= link_to "Update", edit_room_path(room) %> 
        
    <% end %>
    
</div>