
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, 
            myPlacemark;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [<%= @room.latitude %>, <%= @room.longitude %>],
                zoom: 15
            }); 
            
            myPlacemark = new ymaps.Placemark([<%= @room.latitude %>, <%= @room.longitude %>], {
                hintContent: 'Airbnb',
                balloonContent: '<%= @room.address%>'
            });
            
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
<div id="map" style="width: 600px; height: 400px"></div>

<div>
    Near by
    <% for room in @room.nearbys(10) %>
        <%#= image_tag room.photos[0].image.url(:medium) %>
        <%= link_to room.listing_name, room %> <br>
        (<%= room.distance.round(2)%> km away )
    <% end %>
</div>